# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# This project
*.cmd 
*.ko 
*.o 
.Module.* 
.modules.* 
Module.* 
modules.order 
*.mod* 
.integrated_battery.*
battery_update_linux

